<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <title>Past orders</title>

</head>

<body>
  <%- include('partials/_header-restaurant') %>
    <div class="container">
      <h1>Past Orders</h1>
      <div id="past-orders">
        <% if (pastOrders && pastOrders.length> 0) { %>
          <% pastOrders.forEach(order=> { %>
            <div class="order-item row">
              <div class="col-6 order-id">
                Order ID: <%= order.order_id %><br>
              </div>
              <div class="col-6 text-right current-status">
                <%= order.order_status %>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-8 order-info">
                    <div class="col-12 p-0">
                      <p class="phone-number">
                        <%= order.phone_number %>
                      </p>
                      <p class="email">
                        <%= order.email %>
                      </p>
                    </div>
                    <% for(const key in order.menu_items) { %>
                      <div class="menu-item row">
                        <div class="col-6 pl-0">
                          <%= key %>
                        </div>
                        <div class="col-6 text-right pr-0">
                          <%= order.menu_items[key]%>
                        </div>

                      </div>
                      <% }; %>
                        <div class="col-12">
                          <div class="total-cost row mt-3">
                            <div class="col-8 p-0">
                              Total:
                            </div>
                            <div class="col-4 text-right p-0">
                              $ <%= order.total_cost %>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
              <% } else { %>
                <p>No past orders available.</p>
                <% } %>
      </div>
    </div>
</body>

</html>
