<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <title>Past orders</title>

</head>

<body>
  <%- include('partials/_header-restaurant') %>
    <h1>Past Orders</h1>
    <div id="past-orders">
      <% if (pastOrders && pastOrders.length > 0) { %>
        <ul>
          <% pastOrders.forEach(order => { %>
            <li>
              Order ID: <%= order.order_id %><br>
              Phone Number: <%= order.phone_number %><br>
              Email: <%= order.email %><br>
              <strong>Menu Items:</strong>
              <ul>
                <% order.menu_items.split(', ').forEach(menuItem => { %>
                  <li><%= menuItem %></li>
                <% }); %>
              </ul>
              Total: <%= order.total_cost %><br>
              Status: <%= order.order_status %>
            </li>
          <% }); %>


        </ul>
      <% } else { %>
        <p>No past orders available.</p>
      <% } %>

    </div>
</body>

</html>
