<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <title>Recent orders</title>

</head>

<body>
  <%- include('partials/_header-restaurant') %>
    <div class="container">
      <h1>Recent Orders</h1>
      <div id="recent-orders">
        <% if (recentOrders && recentOrders.length> 0) { %>
          <% recentOrders.forEach(order=> { %>
            <div class="order-item">
              <div class="col-6">
                Order ID: <%= order.order_id %><br>
              </div>
              <div class="col-12">
                <p class="phone-number">
                  <%= order.phone_number %>
                </p>
                <p class="email">
                  <%= order.email %>
                </p>
              </div>
              <div class="col-8">
                <% order.menu_items.split(', ').forEach(menuItem => { %>
                <div class="order-item">
                  <div class="col-8 underlined">
                    <%= menuItem %>
                  </div>
                  <div class="col-4"></div>
                </div>
                <% }); %>
              </div>
              <div class="col-6">
                Total:
              </div>
              <div class="col-2">
                $<%= order.total_cost %>
              </div>
              <div class="recent-status">
              Status: <%= order.order_status %>
            </div>
            </div>
          <% }); %>
      <% } else { %>
        <p>No recent orders available.</p>
      <% } %>


    </div>
  </div>
</body>

</html>
