<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/changeStatus.js"></script>

  <title>Recent orders</title>

</head>

<body>
  <%- include('partials/_header-restaurant') %>
    <div class="container">
      <h1>Recent Orders</h1>
      <div id="recent-orders">
        <% if (recentOrders && recentOrders.length> 0) { %>
          <% recentOrders.forEach(order=> { %>
            <div class="order-item row">
              <div class="col-6 order-id">
                Order ID: <%= order.order_id %><br>
              </div>
              <div class="col-6 text-right current-status">
                <%= order.order_status %>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-8 order-info">
                    <div class="col-12 p-0">
                      <p class="phone-number">
                        <%= order.phone_number %>
                      </p>
                      <p class="email">
                        <%= order.email %>
                      </p>
                    </div>
                    <% for(const key in order.menu_items) { %>
                      <div class="menu-item row">
                        <div class="col-6 pl-0">
                          <%= key %>
                        </div>
                        <div class="col-6 text-right pr-0">
                          <%= order.menu_items[key]%>
                        </div>
                      </div>
                      <% }; %>
                        <div class="col-12">
                          <div class="total-cost row mt-3">
                            <div class="col-8 p-0">
                              Total:
                            </div>
                            <div class="col-4 text-right p-0">
                              $ <%= order.total_cost %>
                            </div>
                          </div>
                        </div>

                  </div>
                  <div class="col-4 change-status align-items-center d-flex justify-content-center">
                    <form action="/change-status" method="post" class="changeStatus">
                      <select class="statusList" name="status">
                        <option <% if (order.order_status==="Pending" ) { %> selected <% } %> value="1">Pending</option>
                        <option <% if (order.order_status==="In Progress" ) { %> selected <% } %> value="2">In progress
                        </option>
                        <option <% if (order.order_status==="Completed" ) { %> selected <% } %> value="3">Complete
                        </option>
                      </select>
                      <input type="hidden" name='orderId' value="<%= order.order_id %>">
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
              <% } else { %>
                <p>No recent orders available.</p>
                <% } %>


      </div>
    </div>
</body>

</html>
