<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/addToCart.js"></script>
</head>

<body class="menu-page">
  <%- include('partials/_header') %>
    <div class="cover-photo">
      <img src="<%= restaurantInfo.image %>" alt="Restaurant cover photo">
    </div>

    <!-- Restauran header -->
    <div class="restaurant-header">
      <div class="container">
        <h1>
          <%= restaurantInfo.name %>
        </h1>
        <div class="restaurant-details">
          <p class="rating">★ <%= restaurantInfo.rating %>
          </p>
          <p class="address">
            <%= restaurantInfo.address %>
          </p>
          <p class="opHours">
            <% let startHour=restaurantInfo.operating_hours_start.toString() %>
              <% let endHour=restaurantInfo.operating_hours_end.toString() %>

                <%= startHour.slice(0,-2) + ':' + startHour.slice(-2) %>
                  -
                  <%= endHour.slice(0,-2) + ':' + endHour.slice(-2) %>
          </p>
        </div>
      </div>

    </div>

    <div class="container mt-5">
      <div class="row">
        <!-- Main menu container -->
        <div class="menu-container col-12 col-md-8" id="menu-list">
          <!-- Menu list -->
          <% for(const element in menuItems) { %>
            <article class="menu-item row" data-id="<%= menuItems[element].id %>">
              <div class="menu-item-info col-8">
                <h2 class="item-name">
                  <%= menuItems[element].name %>
                </h2>
                <p class="description">
                  <%= menuItems[element].description %>
                </p>
                <p class="price">
                  $<%= (menuItems[element].price/100).toFixed(2) %>
                </p>

                <div class="menu-item-actions">
                  <div class="quantity">
                    <button class="subtract">-</button>
                    <p class="item-quantity">1</p>
                    <button class="add">+</button>
                  </div>
                  <button class="add-to-order">Add to order</button>
                </div>
              </div>
              <div class="menu-item-photo col-4 d-flex align-items-center">
                <img src="<%= menuItems[element].image %>" alt="<%= menuItems[element].description %>">
              </div>
            </article>
            <% } %>
        </div>
        <div class="col-12 col-md-4">
          <div class="cart-container">
            <h2>Cart</h2>
            <div id="cart-list">
            </div>
            <form action="/checkout" method="post">
              <label for="client-phone-number">
                Enter phone number to make an order
              </label>
              <input required type="text" name="clientName" id="client-name" placeholder="name">
              <input required type="tel" name="clientPhoneNumber" id="client-phone-number" placeholder="telephone">
              <input required type="email" name="clientEmail" id="client-email" placeholder="email">
              <input required type="hidden" name="clientOrderItems" id="client-order-items">
              <input required type="hidden" name="clientTotal" id="client-total">
              <input required type="hidden" name="restaurantId" id="restaurant-id" value="<%= restaurantInfo.id %>">
              <button type="submit">Place order</button>
            </form>
          </div>
        </div>

      </div>
    </div>
</body>

</html>